<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd ">

    <context:component-scan base-package="com.envisageconsulting" />

    <bean id="dataSource" class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name = "driverClassName" value = "com.mysql.jdbc.Driver"/>
        <property name = "url" value = "jdbc:mysql://localhost:3306/scoredaddy"/>
        <property name = "username" value = "scoredaddy"/>
        <property name = "password" value = "scoredaddy"/>
    </bean>

    <bean id="userDAO" class="com.envisageconsulting.primefaces.scoredaddy.dao.impl.UserDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="competitorDAO" class="com.envisageconsulting.primefaces.scoredaddy.dao.impl.CompetitorDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="competitionDAO" class="com.envisageconsulting.primefaces.scoredaddy.dao.impl.CompetitionDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="firearmDAO" class="com.envisageconsulting.primefaces.scoredaddy.dao.impl.FirearmDAOimpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="loginDAO" class="com.envisageconsulting.primefaces.scoredaddy.dao.impl.LoginDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>